html,
body {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.text-body-1,
.text-body-2,
.text-subtitle-1,
.text-subtitle-2,
.text-caption,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
  font-family: 'Poppins', sans-serif !important;
}
